# ================
# ROUTES
# ================

# API - localhost or docker-compose routes (core:8000, coleta-ms-app:8001)
CORE_API_URL=http://core:8000
COLLECTION_API_URL=http://coleta-ms-app:8001

# FRONTEND - Exported routes for client-side (browser / navegador)
NEXT_PUBLIC_APP_URL=http://localhost:3001

# ================
# JWT CONFIG
# ================

# 8 horas = 8 * 60 * 60 = 28.800 SEGUNDOS
JWT_ACCESS_COOKIE_TTL=28800
# 7 dias = 7 × 24 × 60 × 60 = 604.800 segundos
JWT_REFRESH_COOKIE_TTL=604800

# ================
# Google OAuth Config
# ================

NEXT_PUBLIC_GOOGLE_CLIENT_ID=INSIRA_AQUI_SEU_GOOGLE_CLIENT_ID
