# ================
# API ROUTES
# ================

# Docker Routes 
CORE_API_URL=http://core:8000
COLLECTION_API_URL=http://coleta-ms-app:8001

# Local Routes
NEXT_PUBLIC_API_URL=http://localhost:8001
NEXT_PUBLIC_COLLECTION_API_NAME=http://localhost:8002

# ================
# JWT CONFIG
# ================

# 8 horas = 8 * 60 * 60 = 28.800 SEGUNDOS
JWT_ACCESS_COOKIE_TTL=28800
# 7 dias = 7 × 24 × 60 × 60 = 604.800 segundos
JWT_REFRESH_COOKIE_TTL=604800